.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #121212;
  border-bottom: 2px solid #2f2f2f;
  color: whitesmoke;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  margin-left: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 5px;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.links a:hover {
  border-color: whitesmoke;
  cursor: pointer;
}